.library {
  height: calc(100% - 60px);
}
.status {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(255,255,255,0.1);;
}
.games {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow-y: hidden;
  .games-list {
    width: 240px;
    overflow-y: auto;
    height: 0;
    min-height: 100%;
    text-align: center;
    .game-card {
      cursor: pointer;
      position: relative;
      width: 190px;
      box-sizing: border-box;
      transition: all .2s;
      &.chosen {
        transform: scale(1.08);
      }
      .game-logo {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        img {
          width: 100%;
          max-width: 100%;
        }

      }
      &:hover {
        .card-title {
          opacity: 1;
        }
      }
      .card-title {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 188px;
        background-color: rgba(0,0,0, 0.7);
        box-sizing: border-box;
        opacity: 0;
        transition: all .3s;
        .game-icon {
          margin-right: 5px;
        }
        .game-name {
          color: #fff;
          padding: 5px 3px;
          box-sizing: border-box;
        }
      }
    }
  }
  .game-descr {
    .no-game {
      padding: 10px;
      font-size: 18px;
    }
    width: 100%;
    max-width: 100%;
    overflow-y: hidden;
    height: 0;
    min-height: 100%;
    .game-info {
      background-repeat: no-repeat;
      background-position: top center;
      height: 100%;
      .game-media {
        width: 50%;
        box-sizing: border-box;
        padding: 0 10px 10px;
        float: left;
        clear: left;
        .screenshots {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          .screenshot {
            width: 33%;
            max-width: 100%;
            box-sizing: border-box;
            padding: 5px;
            img {
              width: 100%;
              max-width: 100%;
            }
          }
        }
        .movie {
          max-width: 100%;
          video {
            max-width: 100%;
            width: 100%;
          }
        }
      }
      .game-main-info {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 0 30px 0 10px;
        .game-simmaries {
          .game-title-block {
            display: flex;
            margin-bottom: 15px;
            .title-image {
              width: 50%;
              margin-right: 0.5em;
              img {
                max-width: 100%;
                width: 100%;
                height: auto;
              }
            }
            .game-header {
              padding-left: 10px;
              box-sizing: border-box;
              .title {
                font-size: 26px;
                margin-bottom: 10px;
              }
              .ext-links {
                margin: 10px 0;
                .ext-link {
                  display: inline-block;
                  margin: 5px 2px;
                  a {
                    color: #fff;
                  }
                  img {
                    height: 30px;
                    width: auto;
                    margin-right: 0.5em;
                  }
                }
              }
            }
          }
        }
        .description {
          text-shadow: none;
          color: rgba(0,0,0,0.8);
          line-height: 1.5;
          box-sizing: border-box;
          padding: 10px;
          background-color: rgba(255,255,255,0.9);
        }
      }
    }
  }
}
.no-games {
  margin: 15px;
  box-sizing: border-box;
  padding: .5em;
  a {
    color: #b8cbc5;
  }
}